<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plant Disease Detection System</title>

<!-- LINK CSS -->
<link rel="stylesheet" href="/static/style.css">

</head>
<body>

<div class="container">

<h1>🌱 Plant Disease Detection</h1>

<input type="file" id="imageInput" accept="image/*">

<button onclick="predict()">Detect Disease</button>

<div id="result"></div>

<div class="footer">
AI Powered Agriculture Assistant
</div>

</div>

<!-- LINK JS -->
<script src="/static/script.js"></script>

</body>
</html>
